
.App {
  text-align: center;
  background: darkgray;
  min-height: 100vh;
  height: fit-content;
  padding: 0px 0px 10px 0px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.nav-title{
  background: #CB0A2B;
}

.navbar-itens{
  display: flex;
  justify-content: space-around;
  align-content: center;
  background: #CB0A2B;
}

.nav-link{
  color: white;
  margin: 0px 60px;
  min-height: 6vh;
}

.nav-link:hover{
  color: lightgreen;
}

.card-template{
  margin: 100px 100px;
  padding: 40px;
  background: lightgray;
  border-radius: 10px;
  text-align: left;
}

.membros-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.card{
  margin: 22px;
}

.card-title{
  font-size: 4rem;
}